@model ClientesEntityFrmwk.Models.Cliente

    @{
        ViewBag.Title = "Eliminar Cliente";
    }
<center>
    <h2>Eliminar Cliente</h2>

    <h3>Esta seguro de eliminar este cliente?</h3>
    <div>
        <h4>Cliente</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model._IdCliente)
            </dt>

            <dd>
                @Html.DisplayFor(model => model._IdCliente)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model._Identificacion)
            </dt>

            <dd>
                @Html.DisplayFor(model => model._Identificacion)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model._PrimerNombre)
            </dt>

            <dd>
                @Html.DisplayFor(model => model._PrimerNombre)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model._PrimeroApellido)
            </dt>

            <dd>
                @Html.DisplayFor(model => model._PrimeroApellido)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model._Edad)
            </dt>

            <dd>
                @Html.DisplayFor(model => model._Edad)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model._FechaCreacion)
            </dt>

            <dd>
                @Html.DisplayFor(model => model._FechaCreacion)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model._FechaModificacion)
            </dt>

            <dd>
                @Html.DisplayFor(model => model._FechaModificacion)
            </dd>

        </dl>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Eliminar" class="btn btn-default" /> 
                
            </div>
            <div>
                <b>
                    @Html.ActionLink("Regresar", "Index")
                </b>
            </div>
        }
    </div>
</center>